extends layout

block title
  title Monstercat | Artists

block content
  div.row
    div.large-12.columns
      h5.caps Featured Artists
    - for (var i = 0; i < Math.ceil(page.mcpdata.featured.length / 3); i += 1)
      div.row.artists
      - for (var j = i * 3; j < i * 3 + 3; j += 1)
        div.large-4.small-12.columns
          a(href=page.mcpdata.featured[j].url)
            img(src='#{imgroot}#{page.mcpdata.featured[j]._id}-#{page.mcpdata.featured[j].profileImage}')
            h6.light.caps= page.mcpdata.featured[j].name
  div.row
    div.large-12.columns
      h6.caps Current Roster
  div.fullrow
    div.row.roster
      div.large-4.columns
        - for (var i = 0; i < page.mcpdata.artists.length / 3; i += 1)
          a(href=page.mcpdata.artists[i].url)
            h6.light.bright= page.mcpdata.artists[i].name
      div.large-4.columns
        - for (var i = Math.ceil(page.mcpdata.artists.length / 3); i < 2 * page.mcpdata.artists.length / 3; i += 1)
          a(href=page.mcpdata.artists[i].url)
            h6.light.bright= page.mcpdata.artists[i].name
      div.large-4.columns
        - for (var i = Math.ceil(2 * page.mcpdata.artists.length / 3); i < page.mcpdata.artists.length; i += 1)
          a(href=page.mcpdata.artists[i].url)
            h6.light.bright= page.mcpdata.artists[i].name
