extends layout

mixin podcast(url, art)
  a(href="/podcasts/#{url}/")
    span.podcast-container
      if (art)
        img.podcast(src="/podcasts/#{art}")
      else
        img.podcast(src="/img/defaultArt.png")

mixin podcastRow(title, collection)
  div.row
    div.large-12.columns
      h5.caps.white= title
  div.row
    div.large-12.columns.releases
      div.scroll-x
        each release in collection
          +podcast(release.url, release.cover)

block title
  title Monstercat | Podcast

block content
  div.row
    div.large-8.small-12.columns
      h1.caps Monstercat Podcast
      div.row
        div.large-3.small-12.columns
          img(src="/podcasts/#{page.mcpdata.cover}")
        div.large-9.small-12.columns
          div.row
            div.small-12.columns
              h4 Tracklist
              p!= page.mcpdata.contents
    div.large-4.small-12.columns
      div.row
        div.large-12.columns.padtop
          if (page.mcpdata.itunes)
            a(href=page.mcpdata.itunes)
              h3.mc-button View on iTunes
          if (page.mcpdata.youtube_embed)
            div.flex-video.widescreen
              iframe(width="560",height="315",src="#{page.mcpdata.youtube_embed}",frameborder="0",allowfullscreen='')
          h6.caps Social Media
      div.row
        div.large-12.columns
          ul.large-block-grid-5
            if (page.mcpdata.facebook)
              li
                a.social.facebook(href=page.mcpdata.facebook)
            if (page.mcpdata.twitter)
              li
                a.social.twitter(href=page.mcpdata.twitter)
            if (page.mcpdata.youtube)
              li
                a.social.youtube(href=page.mcpdata.youtube)
            if (page.mcpdata.soundcloud)
              li
                a.social.soundcloud(href=page.mcpdata.soundcloud)
      div.row
        div.large-12.columns
          ul.large-block-grid-5
      div.row
        div.large-12.columns
  div
    div.fullrow.release-row.padtop
      +podcastRow("Previous Episodes", podcasts)

